<!doctype html >
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>  
    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%} 
  <!-- head_meta -->
    {% include 'head_meta' %}
     <!-- SEOManganer -->
    <link rel="dns-prefetch" href="https://shopify.thirdwatch.ai"> <link rel="dns-prefetch" href="https://widget.as.criteo.com"> <link rel="dns-prefetch" href="https://init.grizzlyapps.com"> <link rel="dns-prefetch" href="https://platform.loyaltylion.com"> <link rel="dns-prefetch" href="https://bs.serving-sys.com"><link rel="dns-prefetch" href="https://monorail-edge.shopifysvc.com"> <link rel="dns-prefetch" href="https://sdk-static.loyaltylion.net"><link rel="dns-prefetch" href="https://bs.serving-sys.com"><link rel="dns-prefetch" href="https://sdk.loyaltylion.net"><link rel="dns-prefetch" href="https://secure-ds.serving-sys.com"><link rel="dns-prefetch" href="https://fonts.googleapis.com"><link rel="dns-prefetch" href="https://fonts.gstatic.com"><link rel="dns-prefetch" href="https://platform.loyaltylion.com"><link rel="dns-prefetch" href="https://q.quora.com"> 
    <!-- Styles -->
    {% include 'head_styles' %}
    <!-- Scripts -->
    {% include 'head_scripts' %}    
    <!-- Header hook for plugins ================================ -->
    
      {% include 'sca.freegifts' %}
      {% assign scripttags = content_for_header | split: 'var urls = ["' %}
      {% if scripttags.size > 1 %}
        {% assign scripttags = scripttags[1] %}
        {% assign scripttags = scripttags | split: '"];' %}
        {% if scripttags.size > 1 %}
          {% assign scripttags = scripttags[0] %}
          {% assign scripttags = scripttags | split: '","' %}
        {% endif %}
      {% endif %}
      {% assign fg_script_url = "" %}
      {% assign shopifyorderlimits_script_url = "" %}
      {% for url in scripttags %}
        {% if url contains "secomapp.com\/freegifts\/app\/"%}
          {% assign fg_script_url = url %}
        {% endif %}
  		{% if url contains "shopifyorderlimits.s3.amazonaws.com"%}
          {% assign shopifyorderlimits_script_url = url %}
        {% endif %}
      {% endfor %}
      {% if fg_script_url !="" %}
        {% assign content_for_header = content_for_header | remove: fg_script_url %}
      {% endif %}     
      {% if shopifyorderlimits_script_url !="" %}    
  		  {% assign content_for_header = content_for_header | remove: shopifyorderlimits_script_url %}
        {% endif %}  
      {{ content_for_header }}        
  
  <script async>
    window.mlvedaShopCurrency = "{{ shop.currency }}";
    window.shopCurrency = "{{ shop.currency }}";
    window.supported_currencies = "{{ settings.mlvedaACS_supportedCurrencies }}";
  </script>  
  {% include 'scapp-customerinfo' %}  
  
  {% if template contains 'product' %}
  {% include 'linked-options' %} 
  <!-- starapps_scripts_start -->
  {% render "starapps-product-json", product: product, starapps_app: "VIA", starapps_attribute: "sa-product-json" %}   
   <script type="text/javascript" src="https://bcdn.starapps.studio/apps/via/plumgoodness-2/script-1648025066.js?shop={{shop.permanent_domain}}" async></script>
<!-- starapps_scripts_end -->  
  {% endif %}
	<!-- CLEVERTAP INTEGRATION VARIABLES -->
	{% include 'clevertap_variables_generator' %}
  <!-- CLEVERTAP INTEGRATION VARIABLES -->
  <script>
      const params = new Proxy(new URLSearchParams(window.location.search), {
        get: (searchParams, prop) => searchParams.get(prop),
      });
      let atgId = params.atgSessionId;
      if(atgId) {localStorage.setItem('atgSessionId', atgId);}
    </script>  
    {%- if request.page_type == 'collection' -%}
    {%- unless template contains 'boost-pfs-original' -%}
    <link rel="preconnect" href="https://services.mybcapps.com/bc-sf-filter/filter  " />
    <link rel="dns-prefetch" href="https://services.mybcapps.com/bc-sf-filter/filter" />
    <link rel="preload" href="{{ 'boost-pfs-vendor.js' | asset_url }}" as="script">
    <link rel="preload" href="{{ 'boost-pfs-core.js' | asset_url }}" as="script">
    <link rel="preload" href="{{ 'boost-pfs-filter.js' | asset_url }}" as="script">
    <link rel="preload" href="{{ 'boost-pfs-init.js' | asset_url }}" as="script">
    {%- endunless -%}
    {%- endif -%}

    {% include 'gokwik' %}
    {% include 'judgeme_core' %}
    {% include "loyaltylion" %}
    {% render 'gsf-conversion-pixels' %}
    {% include 'quora' %}
      <script async src="//asset.fwcdn3.com/js/integrations/shopify.js"></script>
  <script async src="//asset.fwcdn3.com/js/fwn.js"></script>
 </head>


<body id="{{ page_title | handle }}" class="{{ header_class }} {{ layout_class }} {% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if template.suffix == 'bodylovin' %} bodylovin{% endif %}{% if template.suffix == 'bday_offer' %} bday_offer{% endif %}{% if template.suffix == 'teaser' %} teaser{% endif %}" {% if settings.enable_rtl_lang_1 or settings.enable_rtl_lang_2 %}style="opacity: 0"{% endif %}>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P7N3BVB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) --> 
      {% section 'searchtap' %}
      {% section 'searchtap_autocomplete' %}
      {% if template.suffix != 'unsubscribe'%}
      {% include 'wrapper-header' %} 
      {% endif %} 
    <div class="wrapper-container wrapper-body">  
      <main class="main-content" role="main"> 
        <!-- or template == "index" -->
         {% comment %}{% if template == "index"  %} {% include 'crm_user_validation' %}{% endif %} {% endcomment %}
          {% if product.handle == "green-tea-minis-duo-toner-moisturizer" or product.handle == "free-green-tea-minis-duo-toner-moisturizer" or product.handle == "free-green-tea-mini-duo-face-wash-night-gel" or product.handle == "best-bodycare-mini-trio" %}
                  {% include 'user-valisation' %}
          {% endif %}
        {{ content_for_layout }}
      </main>     
        {% if template.suffix == 'bodylovin' %}
        {% section 'bodylovin-footer' %}        
        {% elsif template.suffix == 'phy-home' %}
        {% section 'footer-phy' %}
         {% else %} 
        {% section 'footer' %}
        {% endif %}
        {% include 'footer_scripts' %}
      <div id="back-top" style="display: none;">
        <a class="nav_up" href="#top" title="Back to top"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 17 33" xml:space="preserve" style="transform: rotate(31deg);"><g id="e4eb89a6-f885-43b8-9259-0d6b1516fab0"><g id="_x38_e584754-6657-46f1-a9d8-2cfd6623b552"><g><polygon points="14.9,14.5 0,0 0,3.7 11.1,14.5 13.2,16.5 11.1,18.5 0,29.3 0,33 14.9,18.5 17,16.5 "></polygon></g></g></g></svg> </a>
      </div>  
    </div>
  <div class="translate-header" data-translate-header> {% include 'wrapper-top-cart' %}</div>
   {% include 'message-modal' %}
  <div class="wrapper-overlay"></div>
  <!--   Add to cart button Disable COVID-19 -->
  <!-- **BEGIN** Hextom USB Integration // Main Include - DO NOT MODIFY -->
  {% render 'hextom_usb_main', product: product, customer: customer %}
  <!-- **END** Hextom USB Integration // Main Include - DO NOT MODIFY -->
    {% include 'swin-widgets' %}
   {% if template contains 'collection' %}
    <!--begin-boost-pfs-js-->
      {% render 'boost-pfs' %}
    <!--end-boost-pfs-js-->
   {% endif %} 
  {% include 'mc-limit' %}
  {% include 'social-login' %}
  {% render 'schema-json' %}
  {% if template contains 'product' %}
      <!-- share button  -->
    <span id='mobile-share-button'><i class="fa fa-share-alt" aria-hidden="true"></span>
    <script type="text/javascript">
    $('#mobile-share-button').on('click', () => {
   if (navigator.share) {
      navigator.share({
          title: '{{ product.title }}',
          url: '{{ canonical_url }}'
        })
        .then(() => console.log('Successful share'))
        .catch((error) => console.log('Error sharing', error));
    } else {
      console.log('Share not supported on this browser, do it the old way.');
    }
    });
    </script>
  {% endif %} 
<script>window.addEventListener('load', function () { var el = document.createElement('script'); el.setAttribute('src', 'https://client.consolto.com/iframeApp/iframeApp.js'); el.id = 'et-iframe'; el.async = true; el.setAttribute('data-widgetId', '63ad2783c0265915401e0814'); el.setAttribute('data-version', 0.5); el.setAttribute('data-test', false); document.body.appendChild(el); }); </script>

      {% if fg_script_url !="" %}    
        <script src="{{ fg_script_url |remove:'\' }}"></script>    
      {% endif %}
      
</body>

<script type="text/javascript">    
$(".st-search-bar input").on("keypress",(function(){var e=this.value;e.length>2&&clevertap.event.push("Searched Product",{Terms:e,Date:new Date})}));
$(".clear_cart").on("click",(function(){$.ajax({type:"POST",url:"/cart/clear.js",data:"",dataType:"json",success:function(){location.reload()},error:function(a,c){}})}));
</script>
</html>