  {% if collection.handle == "best-offers-on-plum" %}
     {{ 'best-offer-collection.css' | asset_url | stylesheet_tag }}
  {% else %}
<header class="collection-header collection-header-sections">
 
  {% if section.settings.display_collection_image %}
  {% if collection.image %}
  {%- assign img_url = collection.image | img_url: 'master'-%}
  {%- assign img_url_mobile = collection.image | img_url: '768x'-%}

  {% elsif collection.description contains 'img' %}
  {%- assign img_url = collection.description | split: '<img' | last | split: '>' | first -%}
  {%- assign img_url_mobile = collection.description | split: '<img' | last | split: '>' | first -%}
  {% endif %}


  <div class="collection-image">
    <div class="collection-desktop-img">
      {% if collection.image or collection.description contains 'img' or section.settings.collection_image != blank  %}
      {% if collection.image %}
      {% if collection.metafields.custom.collection_banner_link %}
          <a href="{{collection.metafields.custom.collection_banner_link}}">
      {% endif %}      
              <img data-src="{{ img_url }}" src="{{ img_url }}" alt="{{ collection_title }}" class="lazyautosizes lazyloaded" data-sizes="auto"/>
      {% if collection.metafields.custom.collection_banner_link %}
          </a>    
      {% endif %}
      {% else %}
      {% include 'mobile-collection-image', id:collection.handle %}
      {% endif %}

      {% else %}
      {% endif %}  

      <div class="page-header tab-abs">
        <h1>
          {% include 'multilang' with collection.title %}
        </h1>
      </div>

    </div>       
    {% endif %}
  {% assign collection_mobile_banner = collection.metafields.collection['collection mobile banner'] %}
   <div class="collection-mobile-img {% if collection_mobile_banner != 0 and collection_mobile_banner != blank %}{% else %}no-meta-image{% endif %}{% if section.settings.collection_image != blank %}style="height:0;"{% else %}style="height:0;"{% endif %}  " {% if collection_mobile_banner != 0 and collection_mobile_banner != blank %}{% else %}style="background-image:url('{{ img_url_mobile }}')"{% endif %} >     
     {% if collection_mobile_banner != 0 and collection_mobile_banner != blank %}
     {% if collection.metafields.custom.collection_banner_link %}<a href="{{collection.metafields.custom.collection_banner_link}}">{% endif %}
      <img data-src="{{ collection_mobile_banner }}" src="{{ collection_mobile_banner }}" class="lazyautosizes lazyloaded">
      {% if collection.metafields.custom.collection_banner_link %}</a>{% endif %}
      {% endif %}
    </div>    
  </div>
      <div class="container">
    <div class="collection_navigation">
    <ul class="collection_nav">
        {%- comment %} 
          {% if collection.handle == "single-special-offer" or collection.handle == "trio" or collection.handle == "bestselling-combos" or collection.handle == "combos" or collection.handle == "gifting"  %}
           {% for link in linklists['collection-menu-1'].links -%}  
                  <li {% if link.url contains collection.handle %} class="active"{% endif %}>{{ link.title | link_to: link.url }}</li>      
                {%- endfor %}  
             {% else  %}
                 {% for link in linklists['collection-menu-2'].links -%}  
                  <li {% if link.url contains collection.handle %} class="active"{% endif %}>{{ link.title | link_to: link.url }}</li>      
              {%- endfor %} 
           {% endif  %}            
          {%- endcomment %}
            
              {% for link in linklists['collection-top-menus'].links -%}  
                <li {% if link.url contains collection.handle %} class="active"{% endif %}>{{ link.title | link_to: link.url }}</li>      
              {%- endfor %}    

    </ul>
    </div>
  </div>
</header>

<div class="collection-wrapper page-header">
  <div class="{% if settings.category_layout == "full_with" or template.suffix == 'fullwidth' %}container-padd60{% else %}container{% endif %}" style="text-align: center;">
    <h1 class="collection_title">
      {% include 'multilang' with collection.title %}
    </h1>
  </div>    
</div>
{% endif %} 
<div id="{{collection.handle}}" class="collection-template collection-template-default">
    {% if collection.handle == 'all-in-stock' or collection.handle == 'all-in-stock-pbl' %}
        {% include 'count-down-b2g2' %}
     {% endif %}
    <div class="container collection_inner_content">
        <div class="halo-collection-content">
        <div class="row">
          <div id="shopify-section-sidebar-filter" class="shopify-section col-12 col-xl-12 boost-pfs-filter-left-col">
          {% include 'sidebar-filter' %}
          </div>
          <div id="shopify-section-collection-template-default" class="shopify-section col-12 col-xl-9 col-main">
          {% include 'collection-template-offers' %}
          </div>
        </div>
      </div>
    </div>
   
  {% render 'collection_bottom_banner' %}
  </div>
{% schema %}
    {
        "name": "main-collection",
        "settings": [
          {
            "type": "checkbox",
            "id": "display_sidebar",
            "label": "Enable Sidebar",
            "default": true
        },
         {
            "type": "text",
            "id": "sidebar_heading",
            "label": "Sidebar Title"
        } ,
        {
            "type": "header",
            "content": "Collection Header"
          },
          {
            "type": "checkbox",
            "id": "display_collection_image",
            "label": "Show collection image?",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "collection_image",
            "label": "Image Category",
            "info": "This image will show up when you don't add image in Collections Description"
          },
          {
            "type": "checkbox",
            "id": "display_collection_des",
            "label": "Display Collections Description?",
            "default": true
          },
          {
            "type": "header",
            "content": "Collection Content"
          },
          {
            "type": "checkbox",
            "id": "limited_view",
            "label": "Enable Limited View",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "view_as_enable",
            "label": "Enable View As",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "sort_enable",
            "label": "Enable sorting",
            "default": true
          },
          {
            "type": "select",
            "id": "collection_results_per_row",
            "label": "Products per row (grid only)",
            "default": "4",
            "options": [
              {
                "value": "1",
                "label": "List"
              },
              {
                "value": "2",
                "label": "2"
              },
              {
                "value": "3",
                "label": "3"
              },
              {
                "value": "4",
                "label": "4"
              },
              {
                "value": "5",
                "label": "5"
              }
            ]
          },
          {
            "type": "select",
            "id": "collection_results_per_page",
            "label": "Products per page",
            "default": "24",
            "options": [
              {
                "value": "12",
                "label": "12"
              },
              {
                "value": "16",
                "label": "16"
              },
              {
                "value": "20",
                "label": "20"
              },
              {
                "value": "24",
                "label": "24"
              },
              {
                "value": "30",
                "label": "30"
              },
              {
                "value": "50",
                "label": "50"
              }
            ]
          }
        ],
        "presets": [{
            "name": "main-collection"
        }]
    }
{% endschema %}