<div class="article-template">
    <div class="page-header">
      {% if current_tags %}
      {% if settings.enable_multilang and blog.title contains '|' %}  
      <h2 class="lang1">
        {{ blog.title | split: '|' | first | link_to: blog.url }} &raquo; {{ current_tags.first }}
      </h2>
      <h2 class="lang2">
        {{ blog.title | split: '|' | last | link_to: blog.url }} &raquo; {{ current_tags.first }}
      </h2>
      {% else %}
      <h2>
        {{ blog.title | split: '|' | first | link_to: blog.url }} &raquo; {{ current_tags.first }}
      </h2>
      {% endif %}
  
      {% else %}
      <h2>
        {% include 'multilang' with blog.title %}
      </h2>
      {% endif %}
    </div>
    <div class="container">
      <div class="halo-blog-content article-content">
      </div>   
    </div>
  </div>
  <style>
    @media ( min-width: 787px ) {
      div#desktop-xs {
        display: flex;
      }
      div#mobile-xs {
        display: none;
      }
    }
    @media ( max-width: 786px ) {
      .detail-page-blog-sec {
        padding: 0;
      }	
      .article-details {
        margin-bottom: 0 !important;
      }
      .article-template {
        padding: 0 15px;
      }
      div#shopify-section-sidebar-blog {
        display: none;
      }
      div#desktop-xs {
        display: none;
      }
      div#mobile-xs {
        display: contents;
      }
    } 
    .detail-page-blog-sec {
    padding: 40px 0 0;
  }
  </style>  <div class="powr-comments" id="18f35da9_1631169880"></div> <div class="powr-comments" id="47e668de_1631783460"></div>
  
  {% schema %}
  {
    "name": "main-article",
	  "class": "col-12 col-xl-8",
    "max_blocks": 5,
    "settings": [           
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
     {
      "type": "header",
      "content": "Blog"
      },
      {
      "id": "blog_posts",
      "type": "blog",
      "label": "Blog Posts"
      },
      {
          "type": "header",
          "content": "===== Sidebar settings"
      },
      {
        "type": "checkbox",
        "id": "display_sidebar_blog_page",
        "label": "Enable Sidebar",
        "default": true
        },
        {
        "type": "select",
        "id": "show_sidebar",
        "label": "Show Sidebar on:",
        "options": [
        {
        "value": "left",
        "label": "Left"
        },
        {
        "value": "right",
        "label": "Right"
        }          
        ],
        "default": "left",
        "info": "Default: Left"
        },
        {
        "type": "checkbox",
        "id": "display_sidebar_link",
        "label": "Enable Sidebar Link",
        "default": true
        },
        {
        "type": "text",
        "id": "sidebar_link_title",
        "label": "Title",
        "default": "Categories"
        },
        {
        "type": "radio",
        "id": "style_categories",
        "label": "Show all \/ Only a few categories",
        "options": [
        {
        "value": "style_show_all",
        "label": "Show all"
        },
        {
        "value": "style_little",
        "label": "Only a few categories"
        }
        ]
        },
        {
        "type": "link_list",
        "id": "link_list",
        "label": "Choose a menu",
        "default": "main-menu"
        },
        
        {
        "type": "checkbox",
        "id": "sidebar_recent_art",
        "label": "Show Block Recent Article",
        "default": true
        },
        {
        "type": "checkbox",
        "id": "sidebar_blog_tags",
        "label": "Show Sidebar Blog tags",
        "default": true
        },
        {
            "type": "header",
            "content": "===== Related Blog Sec"
        },
        {
            "id": "related_blog_posts",
            "type": "blog",
            "label": "Blog Posts"
        }
    ],

    "blocks" : [
      {
        "type": "product",
        "name": "Product Slider",
        "settings": [
        {
        "type": "checkbox",
        "id": "enable",
        "label": "Enable",
        "default": true
        },
        {
        "type": "text",
        "id": "title",
        "label": "Title"
        },
        {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
        },
        {
        "type": "text",
        "id": "limit",
        "label": "Number of products to show",
        "default": "8"
        }
        ]
        },
        {
        "type": "image",
        "name": "Block Image",
        "settings": [
        {
        "type": "checkbox",
        "id": "enable",
        "label": "Enable",
        "default": true
        },
        {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
        },
        {
        "type": "url",
        "id": "link",
        "label": "Link",
        "info": "Optional"
        }
        ]
        },
        {
        "type": "textarea",
        "name": "Sign Up Form",
        "settings": [
        {
        "type": "checkbox",
        "id": "enable",
        "label": "Enable",
        "default": true
        }
        ]
        },
        {
        "type": "quote",
        "name": "Custom Block",
        "settings": [
        {
        "type": "checkbox",
        "id": "enable",
        "label": "Enable",
        "default": true
        },
        {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Custom Block"
        },
        {
        "type": "textarea",
        "id": "quote",
        "label": "Text",
        "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
        }
        ]
      }
    ]
  }
{% endschema %}