{% include 'product-review-regime' %}


<div itemscope itemtype="http://schema.org/Product">
	<meta itemprop="name" content="{{product.title}}" />
	<meta itemprop="description" content="{{product.description | strip_html | truncatewords: 50}}" />
	<meta itemprop="sku" content="{{ product.selected_or_first_available_variant.sku }}" />
	<meta itemprop="url" content="{{ shop.secure_url }}{{ product.url }}">
	<meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
	<meta itemprop="brand" content="{{ product.vendor }}" />
	<meta itemprop="mpn" content="{{ product.selected_or_first_available_variant.sku }}" />
	{% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, auto_install: true, product: product %}
	<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
        <meta itemprop="price" content="{{product.selected_or_first_available_variant.price|money_without_currency | remove: ','}}" />
        <meta itemprop="availability" content="http://schema.org/{% if product.selected_or_first_available_variant.inventory_quantity > 0 %}InStock{% else %}OutOfStock{% endif %}"/>
        <meta itemprop="itemCondition" itemtype="http://schema.org/OfferItemCondition" content="http://schema.org/NewCondition"/>
        <meta itemprop="seller" content="{{ shop.name | escape }}" />
        <meta itemprop="url" content="{{ shop.secure_url }}{{ product.selected_or_first_available_variant.url }}">
      </div> 
</div>
<script type="text/javascript">
    document.sezzleConfig = {
		targetXPath: '.prices/.price/.money',
        widgetType: 'product-page',
        ignoredFormattedPriceText: ['INR', 'MRP'],
        renderToPath: '../../../../',
        marginBottom: 10,
        maxPrice: 600000,
    };
</script>
<script src="https://widget.sezzle.in/v1/javascript/price-widget?uuid=d10e122f-087c-4284-8df4-6b13a53abb9c"></script>
